extend default_layout

block content
  .infobox
    .item

      h1= t('welcome')
      img(id='robo' src='/images/icon-200.png')

    .item
      h2= t('forCredits')
      br
      p. Robospace Chat is based on the utterly righteous <a href="https://chat.meatspac.es/">Meatspace Chat</a> by
      ul
        li
          a(href='https://twitter.com/ednapiranha', class='big') Creatorbro
        li
